# ignore config file
.vscode/
.idea/
.ipynb_checkpoints/
__pycache__/
*.egg-info
.DS_Store

# ignore internal/external libraries
hapi-master/
src/elucidata-resources/
src/elucidata-tools/*.csv
work/uc_scania/*.csv
